.App {
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  width: 50%;
  position: relative;
  padding: 20px;
}

.container .leftCol {
  padding-right: 0;
}

header {
  background: #2f2f2f;
  padding: 20px;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  font-style: italic;
}

@media only screen and (max-width: 1024px) {
  .App {
    height: auto;
    overflow: auto;
  }
  .container {
    flex-direction: column;
  }
  .container > div {
    width: 100%;
  }
  .container .leftCol {
    padding-right: 20px;
  }
  
  .tableData {
    height: auto;
  }
  
  .container .rightCol {
    height: 500px;
  }
}

@media screen and (max-width: 767px) {
  .table-row{
    min-width: 480px;
    overflow-x: auto;
  }
}
