.tableData{
    width: 100%;
    overflow-y: auto;
    height: calc(100vh - 232px);
    display: block;
    min-width: 480px;
}
.tableData::-webkit-scrollbar {
    width: 5px;
  }
   
  .tableData::-webkit-scrollbar-track {
      background: #eee;
  }
   
  .tableData::-webkit-scrollbar-thumb {
    background-color:#ccc;
  }
.table-heading{
    background: #20B2AA;
}
.table-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.data-heading{
    padding: 12px 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    width: 20%;
    text-align: center;
}
.data{
    padding: 12px 8px;
    border-bottom: 1px solid #eee;
    width: 20%;
    text-align: center;
}